// Carousel MyListButton Styles

.btn-clear {
  // @extend .btn;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em 1.25em;
  border: solid 1px #d6d6d6;
  border-radius: 0;
  color: #d6d6d6;
  background: rgba(0,0,0,.75);
  font-family: "Roboto";
  font-weight: 200;
  line-height: 1.5;
  transition: all .4s;

  &:hover {
    background: #d6d6d6;
    color: rgba(0,0,0,.75) !important;
    border-color: #d6d6d6;
  }
}
