@import "styles/core";

.search_input {
  position: absolute;
  top: 0;
  height: 34px;
  margin: 0;
  box-shadow: 0px 0px 0px;
  border-width: 0px;
  border-radius: 0px;
  background: transparent;
  padding: 6px 12px;
  color: white;
  font-size: 14px;
  line-height: 1.42857;

  &:focus {
    outline: none;
    background: transparent;
    box-shadow: none;
    color: white;
  }

  &.desktop_input {
    display: none;
  
    @include on_wide($breakpoint_800) {
      display: block;
      width: 90%;
      left: 10%;
    }
  }
  
  &.mobile_input {
    width: 100%;
  
    @include on_wide($breakpoint_800) {
      display: none;
    }
  }
}

// .desktop_input {
//   display: none;

//   @include on_wide($breakpoint_800) {
//     display: block !important;
//     width: 90% !important;
//     left: 10%;
//   }
// }

// .mobile_input {
//   width: 100% !important;

//   @include on_wide($breakpoint_800) {
//     display: none !important;
//   }
// }
