@import "styles/core";

.nav-item {
  transition: all .2s;

  &.active {
    @include bp-tablet {
      font-weight: bold;
      transform: scale(1.1);
    }
  
    a:hover {
      color: white;
    }
  }

  .nav-link {
    color: white;
    transition: color .4s;

    .fa, svg {
      margin-left: .2rem;
    }
  
    &:hover {
      color: #b3b3b3;
    }
  }

  button {
    background: transparent;
    border: none;
    color: white;
    outline: none;
  }
}
