@import "styles/core";

.search_button {
  display: none;
  border: none;
  background: 0 0;
  color: white;
  font-size: 1.3em;

  &:focus {
    border: none;
  }

  @include on_wide($breakpoint_800) {
    display: inline-block;
  }
}
