%delayed_transition {
  transition: all .3s;
  transition-delay: .8s;
}

%move_down {
  transform: scale(1.048) translateY(15px) translateZ(0) !important;
}

%move_up {
  transform: scale(1.048) translateY(0px) translateZ(0) !important;
}

.circle-icon-btn {
  width: 2em;
  height: 2em;
  margin: .1em;
  border: .1em solid rgba(255,255,255,.5);
  border-radius: 50%;
  padding: .3em;
  background: rgba(0,0,0,.5);
  backface-visibility: hidden;
  transition: all .2s;
  pointer-events: all;
  cursor: pointer;
  -webkit-font-smoothing: subpixel-antialiased;

  &:hover {
    outline: 0;
    border-color: white;
    background: rgba(0,0,0,.7);
    transform: scale(1.1);
  }

  &:focus {
    outline: 0;
  }

  &.hidden {
    visibility: hidden;
  }

  &.move-down {
    @extend %delayed_transition;
    @extend %move_down;
  }

  &.move-up, &.static {
    @extend %delayed_transition;
    @extend %move_up;
  }

  &.toggle-list:focus {
    background: rgba(0,0,0,.7);
    border-color: white;
    transform: scale(1.1);
  }

  svg {
    width: 1em;
    height: 1em;
    color: white;
    font-size: .46rem;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
