// ========================================================
// Application Variables
// ========================================================

// Layout Breakpoints
$breakpoint_500: 500px;
$breakpoint_800: 800px;
$breakpoint_1100: 1100px;
$breakpoint_1400: 1400px;
