// ========================================================
// Application Mixins
// ========================================================

@mixin on_wide($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin on_narrow($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

@mixin bp-xl {
	@include on_wide($breakpoint_1400) {
		@content;
	}
}

@mixin bp-lg {
	@include on_wide($breakpoint_1100) {
		@content;
	}
}

@mixin bp-md {
	@include on_wide($breakpoint_800) {
		@content;
	}
}

@mixin bp-sm {
	@include on_wide($breakpoint_500) {
		@content;
	}
}

@mixin bp-xs {
	@include on_narrow($breakpoint_499) {
		@content;
	}
}

@mixin bp-tablet {
	@include on_wide($breakpoint_768) {
		@content;
	}
}

@mixin bp-mobile {
	@include on_narrow($breakpoint_800) {
		@content;
	}
}

@mixin slide-transition {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
	transition-delay: 0ms;
}
