.poster-buttons {
  position: absolute;
  right: 4%;
  bottom: 10%;
  padding: 0;
  margin: 0;
  transition: all .6s;

  li {
    display: block;
    font-size: .5rem;
    line-height: 1;
    margin: .1rem 0;

    &:focus {
      outline: 0;
    }
  }
}
