@import "styles/core";

.search_bar {
  position: relative;
  top: 0;
  right: 0;
  width: 30vw;
  height: 36px;
  margin: 0;
  border: solid 1px rgba(255, 255, 255, 0.85);
  background: $faded-black;
  overflow: hidden;
  z-index: 10;

  @include on_wide($breakpoint_768) {
    width: 100%;
  }
}

.search_button {
  display: inline-block;
  border: none;
  background: 0 0;
  color: white;
  font-size: 1.3em;

  &:focus {
    border: none;
  }

  @include on_narrow($breakpoint_768) {
    display: none;
  }
}

.toggle_wrapper {
  transition: width 0.4s;

  @include on_narrow($breakpoint_768) {
    display: flex !important;
  }
}
