@import "styles/colors";

@import "../../styles/banner_button";

.btn-clear {
  @extend %banner-button;
  border: solid 1px $off-white;
  color: $off-white;

  &:hover {
    background-color: $off-white;
    color: $faded-black;
  }

  &:focus {
    box-shadow: none;
  }
}