@import "styles/core";

.navbar-nav {
  li a, li button {
    color: white;
    transition: color .4s;

    &:hover {
      color: #b3b3b3;
    }
  }

  li button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  li {
    transition: all .2s;
  }

  li.active {
    @include bp-tablet {
      font-weight: bold;
      transform: scale(1.1);
    }

    a:hover {
      color: white;
    }
  }

  .dropdown .dropdown-menu {
    width: 400px;
    max-height: 175px;
    background: rgba(0,0,0,.75);
    border-radius: 0;
    border: 1px solid rgba(255,255,255,.35);
  }

  .dropdown .dropdown-menu .dropdown-item {
    display: inline-block;
    width: 125px;

    &:hover {
      color: white;
      background: transparent;
      text-decoration: underline;
    }
  }
}
