// MoviePage Styles

@import "styles/core";

.movie-display {
  color: white;

  .label {
    color: $azure-radiance;
  }

  .movie-plot {
    position: absolute;
    left: 3rem;
  }
}

// .movie-display {
//   p {
//     color: white;

//     .label {
//       color: $azure-radiance;
//     }

//     .movie-plot {
//       position: absolute;
//       left: 3rem;
//       color: white;
//     }
//   }
// }
